<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emreusta.composeproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/uyg_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/uyg_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ComposeWidgets"
            android:exported="true"
            android:label="@string/title_activity_compose_widgets"
            android:theme="@style/Theme.ComposeProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YemekTarifi"
            android:exported="true"
            android:label="@string/title_activity_yemek_tarifi"
            android:theme="@style/Theme.ComposeProject" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ComposeProject" />
        <activity
            android:name=".IlhamVer"
            android:exported="true"
            android:label="@string/title_activity_ilham_ver"
            android:theme="@style/Theme.ComposeProject" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeProject" />
        <activity
            android:name=".AppPageStructure"
            android:exported="true"
            android:label="@string/title_activity_app_page_structure"
            android:theme="@style/Theme.ComposeProject"></activity>
    </application>

</manifest>